{
	# Email
	email mail@mone27.net
	acme_dns cloudflare {$CLOUDFLARE_API_TOKEN}
	debug
}


https://pandionlabs.dev:443 {
	reverse_proxy http://host.docker.internal:11000
}

https://cvat.pandionlabs.dev:443 {
	reverse_proxy http://host.docker.internal:8080
}

https://mlflow.pandionlabs.dev:443 {
	reverse_proxy http://host.docker.internal:5000
}

https://bao.pandionlabs.dev:443 {
	reverse_proxy http://host.docker.internal:8200
}

https://ls.pandionlabs.dev:443 {
	reverse_proxy http://host.docker.internal:11002
}
https://plausible.pandionlabs.dev:443 {
	reverse_proxy http://host.docker.internal:11008
}
https://grafana.pandionlabs.dev:443 {
	reverse_proxy http://host.docker.internal:13000
}
